*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.loginform{
    width: min(600px,90%);
    height: 60%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputgroup{
    position: relative;
    /* background-color: bisque; */
    height: 50px;
    width: 90%;
}
.inputgroup input {

    position: absolute;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px red;

    transition: all 200ms;

}
.inputgroup label {

    position: absolute;

}

.inputgroup input:hover +label,
.inputgroup input:focus +label,
.inputgroup input:valid +label{
    transform: translateY(-10px);
}
.topmargin{
    margin-top: 50px;
}

.divcallforaction{
    width: 100%;
    height: 45px;
    background-color: rgb(rgb(152, 182, 237),);
    display: flex;
    justify-content: center;

}

.btnlogin{
    border: solid 1px blue;
}